@import '../../styles/neon-default.scss';

$neon-rgb1: 1;
$neon-rgb2: 33;
$neon-rgb3: 248;

$text-rgb1: 255;
$text-rgb2: 255;
$text-rgb3: 255;

$neon-color-lit: rgb($neon-rgb1, $neon-rgb2, $neon-rgb3);
$neon-color-off: rgb($neon-rgb1*0.5, $neon-rgb2*0.5, $neon-rgb3*0.5);
$text-lit: rgb($text-rgb1, $text-rgb2, $text-rgb3);
$text-off: rgb($text-rgb1*0.5, $text-rgb2*0.5, $text-rgb3*0.5);


.section-container {
  padding: 20px;
  padding-top: calc(var(--navbar-height) + 20px);
  height: 100vh;
  margin-bottom: 50px;
}


.neon-window {
  border: $neon-size solid $neon-color-off;
  border-radius: $neon-size/2;
  height: 100%;
  color: $text-off;
  

  .blok-container {
      display: flex;
      height: 100%;
      text-align: center;
      justify-content: center;
      flex-flow: column nowrap;

      .intro {
          font-size: 3.5em;
          font-weight: 300;
          text-shadow: 0 0 2px;
          animation: text_lit $turn-on-speed ease-out;
          animation-fill-mode: forwards;
          animation-delay: $turn-on-delay;

          @media only screen and (max-width: 600px) {
            font-size: 2em;
          }
      }

      .my-name {
          font-size: 5em;
          font-weight: 400;
          animation: text_lit $turn-on-speed ease-out, 
                     text_lit_brilliant 4s ease-out;
          animation-fill-mode: forwards;
          animation-delay: $turn-on-delay;

          @media only screen and (min-width: 480px) and (max-width: 600px) {
            font-size: 3.5em;
          }

          @media only screen and (max-width: 479px) {
            font-size: 3em;
          }

      }

      .my-title {
          font-size: 4em;
          font-weight: 300;
          text-shadow: 0 0 2px;
          animation: text_lit $turn-on-speed ease-out;
          animation-fill-mode: forwards;
          animation-delay: $turn-on-delay;

          @media only screen and (min-width: 480px) and (max-width: 600px) {
            font-size: 3em;
          }

          @media only screen and (max-width: 479px) {
            font-size: 2.5em;
          }

      }

  }
}

.neon-border-lit {
  animation: neon_lit $turn-on-speed ease-out;
  animation-fill-mode: forwards;
  animation-delay: $turn-on-delay;
}


// .neon-border-off {
//     animation: neon_shut $turn-on-speed ease-out;
//     animation-fill-mode: forwards;
// }



@keyframes text_lit {
    from {
      color: $text-off;
    }
    to {
      color: $text-lit;
    }
  }

@keyframes text_lit_brilliant {
    from {
      text-shadow: 0 0 0px;
    }
    to {
      text-shadow: 0 0 10px $text-lit;
    }
  }

@keyframes neon_lit {
    from {
        border: $neon-size solid $neon-color-off;
        text-shadow: 0 0 0px;
    }
    to {
        border: $neon-size solid $neon-color-lit;
        box-shadow: 0 0 25px $neon-color-lit,
        inset 0 0 25px $neon-color-lit,
        0 0 2px white,
        inset 0 0 2px white;
        
    }
  }

  // @keyframes neon_shut {
  //   from {
  //     border: $neon-size solid $neon-color-lit;
  //     box-shadow: 0 0 25px $neon-color-lit,
  //     inset 0 0 25px $neon-color-lit,
  //     0 0 2px white,
  //     inset 0 0 2px white;


        
  //   }
  //   to {

  //     border: $neon-size solid $neon-color-off;
  //     text-shadow: 0 0 0px;
  //   }
  // }