$turn-on-speed: 0.2s;

$neon-rgb1: 1;
$neon-rgb2: 33;
$neon-rgb3: 248;
$neon-color-lit: rgb($neon-rgb1, $neon-rgb2, $neon-rgb3);
$neon-color-off: rgb($neon-rgb1*0.5, $neon-rgb2*0.5, $neon-rgb3*0.5);

$text-rgb1: 255;
$text-rgb2: 255;
$text-rgb3: 255;
$text-lit: rgb($text-rgb1, $text-rgb2, $text-rgb3);
$text-off: rgb($text-rgb1*0.5, $text-rgb2*0.5, $text-rgb3*0.5);

$neon-size: 16px;


.neon-window {
    border: $neon-size solid $neon-color-off;
    border-radius: $neon-size/2;
    height: 600px;
    margin: 20px 20px 200px 20px;
    color: $text-off;
    

    .blok-container {
        display: flex;
        height: 100%;
        text-align: center;
        justify-content: space-around;
        flex-flow: column nowrap;

        .intro {
            font-size: 3.5em;
            text-shadow: 0 0 2px;
            animation: text_lit $turn-on-speed ease-out;
            animation-fill-mode: forwards;
        }

        .my-name {
            font-size: 5em;
            animation: text_lit $turn-on-speed ease-out, 
                       text_lit_brilliant 1s ease-out;
            animation-fill-mode: forwards;
        }

        .my-title {
            font-size: 4em;
            text-shadow: 0 0 2px;
            animation: text_lit $turn-on-speed ease-out;
            animation-fill-mode: forwards;
        }

    }
}

.neon-border-lit {
    animation: neon_lit $turn-on-speed ease-out;
    animation-fill-mode: forwards;
}

// .neon-border-off {
//     animation: neon_lit $turn-on-speed ease-out;
//     animation-direction: reverse;
//     animation-fill-mode: forwards;
// }



@keyframes text_lit {
    from {
      color: $text-off;
    }
    to {
      color: $text-lit;
    }
  }

@keyframes text_lit_brilliant {
    from {
      text-shadow: 0 0 0px;
    }
    to {
      text-shadow: 0 0 8px $text-lit;
    }
  }

@keyframes neon_lit {
    from {
        border: $neon-size solid $neon-color-off;
        text-shadow: 0 0 0px;
    }
    to {
        border: $neon-size solid $neon-color-lit;
        box-shadow: 0 0 25px $neon-color-lit,
        inset 0 0 25px $neon-color-lit,
        0 0 2px white,
        inset 0 0 2px white;
        
    }
  }