.section-container {
    display: block;
}

.blok-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    height: 95vh;
}

.swiper-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-container {
    height: 80%;
    width: 850px;
    display: flex;
    justify-content: center;
}

.custom-slide-container {
    display: flex;
    padding: 20px 50px;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    max-width: 800px;

    // Borders and animation to be done

    border: 4px solid yellow;
    border-radius: 2%;
    box-shadow: 0 0 12px yellow,
        inset 0 0 12px yellow,
        0 0 2px white,
        inset 0 0 2px white;

    .project-title {
        text-shadow: 0 0 2px white;
    }
}

.img-wrapper {

    max-height: 400px;
    
    img {
    
        max-width:100%;
        object-fit: cover;
    }
}

.desc {
    min-height: 40px;
    display: block;
}