$led-size: 5px;

.led-bg {
    background-color: rgb(25, 25, 25);
    height: $led-size;
    width: $led-size;
    display: flex;
    justify-content: center;
    align-items: center;
}

.led {
    border-radius: 50%;
    height: $led-size;
    width: $led-size;
    background-color:rgb(80, 80, 0);
}

.on {
         background-color: rgb(245, 245, 0);
         box-shadow: 0 0 10px  hsl(60 100% 65%);
    }