$panel-size: 32px;

.panel-container {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 100;
    width: $panel-size;
    height: $panel-size;
    background-color: rgba(25, 25, 25, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.led-grid {
    background-color: rgba(25, 25, 25, 0.9);    
    width: 32px;
    display: grid;
    border: 1px solid rgba(25, 25, 25, 0.9);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}