.panel-container {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 100;
    width: 80px;
    height: 80px;
    background-color: rgb(25, 25, 25);
    border: 2px solid rgb(0, 133, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.panel-container:hover {
    border: 1px solid lawngreen;
}

.led-grid {
    background-color: rgb(25, 25, 25);    
    width: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}