.navbar {
    position:fixed;
    z-index:99;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    font-size:40px;
}

.nav-menu {  
    li {
        list-style-type: none;
        color:white;
        line-height:70px;
    }
}