.nav-top {
    display: block;
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    border-bottom: 1px solid white;
    z-index: 98;
    background: #030016;
    box-shadow: 0 0 3px white, inset 0 0 3px white;
}

.navbar {
    position:fixed;
    z-index:99;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background: #030016;
    font-size:40px;
}

.nav-menu {  
    li {
        list-style-type: none;
        color:white;
        line-height:70px;
    }
}



.screen-over-nav {
    padding: 20px;
    padding-top: 20px;
    text-align: center;
    color: #f5c577;
    
    height: 100%;
    height: 60px;
    overflow: hidden;

    p {
        margin-top: 0;
        font-size: 24px;
        text-shadow: 0 0 2px #f5c577,
        0 0 1px white;

        @media (max-width: 600px) {
            
            font-size: 20px;

            }
    }
}