//Utilities
.container {
  margin:0 auto;
  width: 90%;
  display:flex;
  justify-content: center;
  flex-flow: row wrap;

}

//Sections
.title {
  padding-top: var(--navbar-height);
  text-align:center;
  font-size:1.5em;
  font-weight:200;
}

.filter-title-container {
  display: flex;
  width: 100%;
  justify-content: center;

}

.filter-title {
  margin: 0 auto;
  text-align: center;
  margin: 20px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 3px;
  width: 200px;
  cursor: pointer;
  box-shadow: 0 0 2px white, 
              0 0 3px white,
              inset 0 0 2px white,
              inset 0 0 3px white;
}

.filters-section {
  display: flex;
  max-height: 0;
  flex-flow: column;
  margin: 0 auto;
  background-color: #030016;
  width: 50%;
  overflow: hidden;
  animation-name: showDiv;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.tags-box {
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tag {
  text-align: center;
  margin: 2px;
  margin-bottom: 5px;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid white;
  user-select: none;
  cursor: pointer;

}

.active {
  background-color: white;
  color: #030016; 
}

@keyframes showDiv {
  from {max-height: 0px;}
  to {max-height: 900px;}
}