//Utilities
.container{
  margin:0 auto;
  width: 90%;
  display:flex;
  justify-content: center;
  flex-flow: row wrap;

}

//Sections
.title{
  margin-top: 85px;
  text-align:center;
  font-size:3em;
  font-weight:200;
}