//Utilities
.container{
  margin:0 auto;
  width: 90%;
  display:flex;
  justify-content: center;
  flex-flow: row wrap;

}

//Sections
.title{
  padding-top: var(--navbar-height);
  text-align:center;
  font-size:1.5em;
  font-weight:200;
}