.section-arrow-image {
    height: 40px;
    width: 40px;
    margin: 0 20px;
    margin-top: -5px;

    @media screen and (max-width: 450px) {
        display: none;
    }
}

.down-direction {
    transform: rotate(180deg);
}

.active {
    filter: drop-shadow(0 0 1px yellow);
    cursor: pointer;
}

.inactive {
    filter: brightness(50%);
}