/* Normal style */
@font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  /* Italic style */
  @font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  /* Bold style */
  @font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  /* Bold Italic style */
  @font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
  }

// Swiper style override

:root {
	--swiper-theme-color: white !important;
	--swiper-navigation-sides-offset: calc(10px);

	@media screen and (min-width: 1530px) {
		--swiper-navigation-sides-offset: calc(10px + 20vw);
	  }

	@media screen and (min-width: 1200px) and (max-width: 1529px) {
		--swiper-navigation-sides-offset: calc(10px + 10vw);
	  }
}

.swiper-button-next {
	text-shadow: 0 0 4px white;

}

.swiper-button-prev {
	text-shadow: 0 0 4px white;

}

.swiper-button-disabled {
	text-shadow: none;
}

.swiper-slide {
	display: flex !important;
}

html {
	padding: 0;
	margin: 0;
	// font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-family: 'Chakra Petch', Roboto, sans-serif;
}
body {
	padding: 0;
	margin: 0;
	// font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-family: 'Chakra Petch', Roboto, sans-serif;
	color: white;
	background: #050024;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}

p {
	font-size: 1rem;
}