$neon-size: 16px;
$turn-on-speed: 0.5s;
$turn-on-delay: 0.5s;

$neon-rgb1: 255;
$neon-rgb2: 255;
$neon-rgb3: 255;

$text-rgb1: 255;
$text-rgb2: 255;
$text-rgb3: 255;

$neon-color-lit: rgb($neon-rgb1, $neon-rgb2, $neon-rgb3);
$neon-color-off: rgb($neon-rgb1*0.5, $neon-rgb2*0.5, $neon-rgb3*0.5);
$text-lit: rgb($text-rgb1, $text-rgb2, $text-rgb3);
$text-off: rgb($text-rgb1*0.5, $text-rgb2*0.5, $text-rgb3*0.5);
